{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true,
            "modules": true
        }
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "google",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "react-hooks",
        "import",
        "@typescript-eslint"
    ],
    "rules": {
        "semi": [
            1,
            "always"
        ],
        "require-jsdoc": 0,
        "quote-props": [
            "error",
            "as-needed"
        ],
        "indent": "off",
        "space-before-function-paren": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-empty-function": "off"
    }
}